.input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper label {
  font-weight: 500;
  font-size: large;
}

.input-wrapper input {
  width: 400px;
  padding: 7px;
}
